.blackText {
    color: black !important;
  }
  
  .text-field-container {
    margin-bottom: 8px;
  }
  
  .containerBackground {
    background-image: url('../../images/marketImage.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 20px;
  }

.card {
  background-color: #05c2db;
}
